In [2]:
#Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# get medicare drug utilization data from the 2016 set 
medicare2015 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/Medicare_Provider_Utilization_and_Payment_Data__2015_Part_D_Prescriber.csv')
medicare2015.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1912175340,&H'S)U,&E'K:(A:I,SAN JUAN BAUTISTA,CA,General Surgery,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,15.0,...,15.0,213,186.85,NaN,#,NaN,#,NaN,NaN,NaN
1,1912175340,&H'S)U,&E'K:(A:I,SAN JUAN BAUTISTA,CA,General Surgery,S,IBUPROFEN,IBUPROFEN,20.0,...,21.0,305,114.18,NaN,#,NaN,#,NaN,NaN,NaN
2,1912175340,&H'S)U,&E'K:(A:I,SAN JUAN BAUTISTA,CA,General Surgery,S,METOCLOPRAMIDE HCL,METOCLOPRAMIDE HCL,30.0,...,34.0,244,117.93,NaN,#,NaN,#,NaN,NaN,NaN
3,1417051921,A,N,CATOOSA,OK,Physician Assistant,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,17.0,...,17.0,44,57.64,NaN,*,NaN,*,NaN,NaN,NaN
4,1417051921,A,N,CATOOSA,OK,Physician Assistant,S,AZITHROMYCIN,AZITHROMYCIN,44.0,...,44.0,219,305.91,33.0,NaN,33.0,NaN,33.0,164.0,243.85

In [4]:
medicare2015.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_city', 'nppes_provider_state', 'specialty_description',
       'description_flag', 'drug_name', 'generic_name', 'bene_count',
       'total_claim_count', 'total_30_day_fill_count', 'total_day_supply',
       'total_drug_cost', 'bene_count_ge65', 'bene_count_ge65_suppress_flag',
       'total_claim_count_ge65', 'ge65_suppress_flag',
       'total_30_day_fill_count_ge65', 'total_day_supply_ge65',
       'total_drug_cost_ge65'],
      dtype='object')

In [5]:
# get medicare drug utilization data from the 2016 set 
medicare2016 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/Medicare_Provider_Utilization_and_Payment_Data__2016_Part_D_Prescriber.csv')
medicare2016.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,ATORVASTATIN CALCIUM,ATORVASTATIN CALCIUM,NaN,...,15.0,450,139.32,NaN,*,13.0,NaN,15.0,450.0,139.32
1,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,CIPROFLOXACIN HCL,CIPROFLOXACIN HCL,NaN,...,11.0,96,80.99,NaN,*,NaN,*,NaN,NaN,NaN
2,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,20.0,...,20.0,199,586.12,NaN,#,NaN,#,NaN,NaN,NaN
3,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,ELIQUIS,APIXABAN,NaN,...,17.0,510,6065.02,NaN,*,17.0,NaN,17.0,510.0,6065.02
4,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,FUROSEMIDE,FUROSEMIDE,12.0,...,17.0,405,45.76,NaN,#,NaN,#,NaN,NaN,NaN

In [6]:
medicare2016.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_city', 'nppes_provider_state', 'specialty_description',
       'description_flag', 'drug_name', 'generic_name', 'bene_count',
       'total_claim_count', 'total_30_day_fill_count', 'total_day_supply',
       'total_drug_cost', 'bene_count_ge65', 'bene_count_ge65_suppress_flag',
       'total_claim_count_ge65', 'ge65_suppress_flag',
       'total_30_day_fill_count_ge65', 'total_day_supply_ge65',
       'total_drug_cost_ge65'],
      dtype='object')

In [7]:
# get medicare drug utilization data from the 2017 set 
medicare2017 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/Medicare_Provider_Utilization_and_Payment_Data__2017_Part_D_Prescriber.csv')
medicare2017.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,S,TOPROL XL,METOPROLOL SUCCINATE,NaN,...,85.0,2550,1492.02,NaN,*,31.0,NaN,85.0,2550.0,1492.02
1,1649591223,RAMOSO,WESLEY,EUGENE,OR,Family Practice,S,NOVOFINE,"PEN NEEDLE, DIABETIC",NaN,...,31.3,770,1037.23,NaN,*,24.0,NaN,31.3,770.0,1037.23
2,1548398597,GLENN,TERRI,ACME,MI,Nurse Practitioner,S,VALACYCLOVIR,VALACYCLOVIR HCL,NaN,...,39.5,1095,1089.22,NaN,#,NaN,#,NaN,NaN,NaN
3,1780674101,MITCHELL,KIMBERLY,CABOT,AR,Optometry,S,LUMIGAN,BIMATOPROST,14.0,...,45.5,1316,7936.87,NaN,#,NaN,#,NaN,NaN,NaN
4,1861502288,SEYEDKAZEMI,MAHSHID,LOS ANGELES,CA,Pharmacist,T,CLONIDINE HCL,CLONIDINE HCL,NaN,...,36.0,979,207.07,NaN,*,NaN,*,NaN,NaN,NaN

In [8]:
medicare2017.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_city', 'nppes_provider_state', 'specialty_description',
       'description_flag', 'drug_name', 'generic_name', 'bene_count',
       'total_claim_count', 'total_30_day_fill_count', 'total_day_supply',
       'total_drug_cost', 'bene_count_ge65', 'bene_count_ge65_suppress_flag',
       'total_claim_count_ge65', 'ge65_suppress_flag',
       'total_30_day_fill_count_ge65', 'total_day_supply_ge65',
       'total_drug_cost_ge65'],
      dtype='object')

In [9]:
# read in drug NDC code information to use later to filter medicare dataset
ndc = pd.read_excel('HEDIS-2019-NDC-MLD-Directory-Complete-Workbook-FINAL-11-1-2018-2.xlsx',
                         'Medications List to NDC Codes')
ndc.head()

,Medication List,NDC Code,Brand Name,Generic Product Name,Route,Description,Drug ID,Drug Name,Package Size,Unit,Dose,Form,MED Conversion Factor,Unnamed: 13,Unnamed: 14
0,5-ARI Medications,54039513,Dutasteride,dutasteride 0.5 mg oral capsule,oral,5-ARI Medications,d04788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5-ARI Medications,54039522,Dutasteride,dutasteride 0.5 mg oral capsule,oral,5-ARI Medications,d04788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5-ARI Medications,93565556,Dutasteride,dutasteride 0.5 mg oral capsule,oral,5-ARI Medications,d04788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5-ARI Medications,93565598,Dutasteride,dutasteride 0.5 mg oral capsule,oral,5-ARI Medications,d04788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5-ARI Medications,115143808,Dutasteride,dutasteride 0.5 mg oral capsule,oral,5-ARI Medications,d04788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# creating a df with only opioids and we capture all opioids by seeng where MED (Morphine Equivalent Dose) is not nan
opioiddf = ndc[ndc['MED Conversion Factor'].notnull()].copy()
opioiddf['Drug Name'] = opioiddf['Drug Name'].str.upper()
opioiddf.head()

,Medication List,NDC Code,Brand Name,Generic Product Name,Route,Description,Drug ID,Drug Name,Package Size,Unit,Dose,Form,MED Conversion Factor,Unnamed: 13,Unnamed: 14
63818,UOD Opioid Medications,54309036,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,1.0,NaN,7.00,NaN,NaN
63819,UOD Opioid Medications,378963943,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63820,UOD Opioid Medications,54569598800,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63821,UOD Opioid Medications,60505081301,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63822,UOD Opioid Medications,591264101,APAP/Butalbital/Caffeine/Codeine,acetaminophen/butalbital/caffeine/codeine 300 ...,oral,UOD Opioid Medications,d03425,CODEINE,NaN,mg,30.0,NaN,0.15,NaN,NaN

In [11]:
#Check the opioids in the df
opioiddf['Drug Name'].unique()

array(['BUTORPHANOL', 'CODEINE', 'DIHYDROCODEINE', 'FENTANYL',
       'HYDROCODONE', 'HYDROMORPHONE', 'LEVORPHANOL', 'MEPERIDINE',
       'METHADONE', 'MORPHINE', 'MORPHINE EQUIVALENT', 'OPIUM',
       'OXYCODONE', 'OXYMORPHONE', 'PENTAZOCINE', 'TAPENTADOL',
       'TRAMADOL'], dtype=object)

In [15]:
# make the opioid drug column into a list 
opioidlist = opioiddf['Drug Name'].unique().tolist()
# join together list of opioids to create a pattern for comparison
opioidlist2015 = '|'.join(opioidlist)
opioidlist2016 = '|'.join(opioidlist)
opioidlist2017 = '|'.join(opioidlist)

In [16]:
# use str.contains to match the two patterns from the two datasets
opioidlist2015_ = medicare2015[(medicare2015['drug_name'].str.contains(opioidlist2015)) | (medicare2015['generic_name'].str.contains(opioidlist2015))]
opioidlist2016_ = medicare2016[(medicare2016['drug_name'].str.contains(opioidlist2016)) | (medicare2016['generic_name'].str.contains(opioidlist2016))]
opioidlist2017_ = medicare2017[(medicare2017['drug_name'].str.contains(opioidlist2017)) | (medicare2017['generic_name'].str.contains(opioidlist2017))]

In [17]:
#List the opioids
opioidlist2015

'BUTORPHANOL|CODEINE|DIHYDROCODEINE|FENTANYL|HYDROCODONE|HYDROMORPHONE|LEVORPHANOL|MEPERIDINE|METHADONE|MORPHINE|MORPHINE EQUIVALENT|OPIUM|OXYCODONE|OXYMORPHONE|PENTAZOCINE|TAPENTADOL|TRAMADOL'

In [18]:
opioidlist2016

'BUTORPHANOL|CODEINE|DIHYDROCODEINE|FENTANYL|HYDROCODONE|HYDROMORPHONE|LEVORPHANOL|MEPERIDINE|METHADONE|MORPHINE|MORPHINE EQUIVALENT|OPIUM|OXYCODONE|OXYMORPHONE|PENTAZOCINE|TAPENTADOL|TRAMADOL'

In [19]:
opioidlist2017

'BUTORPHANOL|CODEINE|DIHYDROCODEINE|FENTANYL|HYDROCODONE|HYDROMORPHONE|LEVORPHANOL|MEPERIDINE|METHADONE|MORPHINE|MORPHINE EQUIVALENT|OPIUM|OXYCODONE|OXYMORPHONE|PENTAZOCINE|TAPENTADOL|TRAMADOL'

In [30]:
opioidlist_final = opioidlist2015
opioidlist_final

'BUTORPHANOL|CODEINE|DIHYDROCODEINE|FENTANYL|HYDROCODONE|HYDROMORPHONE|LEVORPHANOL|MEPERIDINE|METHADONE|MORPHINE|MORPHINE EQUIVALENT|OPIUM|OXYCODONE|OXYMORPHONE|PENTAZOCINE|TAPENTADOL|TRAMADOL'

In [31]:
#Function to combine into one dataframe
def opioid_df(df):
    df = df[df['generic_name'].str.contains(opioidlist_final)].copy()
    return df

In [32]:
#Create a singular opioid dataframe for medicare for each year
opioid2015 = opioid_df(medicare2017)
opioid2016 = opioid_df(medicare2016)
opioid2017 = opioid_df(medicare2017)

In [33]:
#See unique drug names
opioid2015.drug_name.unique()
opioid2016.drug_name.unique()
opioid2017.drug_name.unique()

array(['MORPHINE SULFATE ER', 'SPIRIVA', 'HYDROCODONE-ACETAMINOPHEN',
       'ACETAMINOPHEN-CODEINE', 'IPRATROPIUM BROMIDE', 'TRAMADOL HCL',
       'OXYCODONE HCL', 'OXYCODONE-ACETAMINOPHEN', 'COMBIVENT RESPIMAT',
       'ENDOCET', 'TRAMADOL HCL-ACETAMINOPHEN', 'FENTANYL',
       'MORPHINE SULFATE', 'NUCYNTA', 'VICODIN ES', 'OPANA ER',
       'TRAMADOL HCL ER', 'HYDROMORPHONE HCL', 'OXYCONTIN',
       'OXYCODONE HCL ER', 'METHADONE HCL', 'HYDROMORPHONE ER',
       'IPRATROPIUM-ALBUTEROL', 'STIOLTO RESPIMAT',
       'PENTAZOCINE-NALOXONE HCL', 'SPIRIVA RESPIMAT',
       'HYDROCODONE-IBUPROFEN', 'ATROVENT HFA', 'CODEINE SULFATE',
       'NUCYNTA ER', 'HYSINGLA ER', 'EMBEDA',
       'BUTALB-CAFF-ACETAMINOPH-CODEIN', 'ASCOMP WITH CODEINE',
       'BUTALBITAL COMPOUND-CODEINE', 'BUTORPHANOL TARTRATE',
       'OPIUM TINCTURE', 'APOKYN', 'OXYMORPHONE HCL ER',
       'BUTALB-ACETAMINOPH-CAFF-CODEIN', 'DURAGESIC', 'KADIAN',
       'OXYMORPHONE HCL', 'PERCOCET', 'CARISOPRODOL-ASPIRIN-CODEINE',
       'EXALGO', 'XTAMPZA ER', 'ZOHYDRO ER', 'PROMETHAZINE-CODEINE',
       'NORCO', 'ABSTRAL', 'OXYCODONE HCL-ASPIRIN', 'FENTANYL CITRATE',
       'OPANA', 'MEPERIDINE HCL', 'LORTAB', 'METHADOSE',
       'LEVORPHANOL TARTRATE', 'LORCET HD', 'VICODIN', 'SUBSYS',
       'ROXICODONE', 'TYLENOL-CODEINE NO.3', 'ACTIQ', 'IBUDONE', 'ULTRAM',
       'CONZIP', 'DILAUDID', 'DOLOPHINE HCL', 'PRIMLEV', 'DEMEROL',
       'VICODIN HP', 'FIORINAL WITH CODEINE #3', 'MS CONTIN', 'LORCET',
       'HYDROMET', 'BELLADONNA-OPIUM', 'FENTORA', 'FIORICET WITH CODEINE',
       'ULTRACET', 'INFUMORPH', 'TYLENOL-CODEINE NO.4', 'LORCET PLUS',
       'METHADONE INTENSOL', 'XODOL 7.5-300', 'LAZANDA',
       'OXYCODONE HCL-IBUPROFEN', 'MORPHABOND ER',
       'HYDROCODONE-HOMATROPINE MBR', 'XARTEMIS XR',
       'PROMETHAZINE VC-CODEINE', 'XODOL 10-300', 'TUSSIONEX',
       'CARISOPRODOL COMPOUND-CODEINE', 'SYNALGOS-DC', 'XYLON 10'],
      dtype=object)

In [34]:
# There were drugs in the combined dataset that weren't explicitly opioids, so we remove them
otherdrugs = ['COMBIVENT RESPIMAT', 'SPIRIVA RESPIMAT', 'ATROVENT', 'STIOLTO RESPIMAT', 'IPRATROPIUM BROMIDE', 'SPIRIVA', 'IPRATROPIUM-ALBUTEROL']

opioid2015 = opioid2015[~opioid2015.drug_name.isin(otherdrugs)]
opioid2016 = opioid2016[~opioid2016.drug_name.isin(otherdrugs)]
opioid2017 = opioid2017[~opioid2017.drug_name.isin(otherdrugs)]

In [35]:
#Checking to see if the irrelevant medications were removed
opioid2015.drug_name.unique()
opioid2016.drug_name.unique()
opioid2017.drug_name.unique()

array(['MORPHINE SULFATE ER', 'HYDROCODONE-ACETAMINOPHEN',
       'ACETAMINOPHEN-CODEINE', 'TRAMADOL HCL', 'OXYCODONE HCL',
       'OXYCODONE-ACETAMINOPHEN', 'ENDOCET', 'TRAMADOL HCL-ACETAMINOPHEN',
       'FENTANYL', 'MORPHINE SULFATE', 'NUCYNTA', 'VICODIN ES',
       'OPANA ER', 'TRAMADOL HCL ER', 'HYDROMORPHONE HCL', 'OXYCONTIN',
       'OXYCODONE HCL ER', 'METHADONE HCL', 'HYDROMORPHONE ER',
       'PENTAZOCINE-NALOXONE HCL', 'HYDROCODONE-IBUPROFEN',
       'ATROVENT HFA', 'CODEINE SULFATE', 'NUCYNTA ER', 'HYSINGLA ER',
       'EMBEDA', 'BUTALB-CAFF-ACETAMINOPH-CODEIN', 'ASCOMP WITH CODEINE',
       'BUTALBITAL COMPOUND-CODEINE', 'BUTORPHANOL TARTRATE',
       'OPIUM TINCTURE', 'APOKYN', 'OXYMORPHONE HCL ER',
       'BUTALB-ACETAMINOPH-CAFF-CODEIN', 'DURAGESIC', 'KADIAN',
       'OXYMORPHONE HCL', 'PERCOCET', 'CARISOPRODOL-ASPIRIN-CODEINE',
       'EXALGO', 'XTAMPZA ER', 'ZOHYDRO ER', 'PROMETHAZINE-CODEINE',
       'NORCO', 'ABSTRAL', 'OXYCODONE HCL-ASPIRIN', 'FENTANYL CITRATE',
       'OPANA', 'MEPERIDINE HCL', 'LORTAB', 'METHADOSE',
       'LEVORPHANOL TARTRATE', 'LORCET HD', 'VICODIN', 'SUBSYS',
       'ROXICODONE', 'TYLENOL-CODEINE NO.3', 'ACTIQ', 'IBUDONE', 'ULTRAM',
       'CONZIP', 'DILAUDID', 'DOLOPHINE HCL', 'PRIMLEV', 'DEMEROL',
       'VICODIN HP', 'FIORINAL WITH CODEINE #3', 'MS CONTIN', 'LORCET',
       'HYDROMET', 'BELLADONNA-OPIUM', 'FENTORA', 'FIORICET WITH CODEINE',
       'ULTRACET', 'INFUMORPH', 'TYLENOL-CODEINE NO.4', 'LORCET PLUS',
       'METHADONE INTENSOL', 'XODOL 7.5-300', 'LAZANDA',
       'OXYCODONE HCL-IBUPROFEN', 'MORPHABOND ER',
       'HYDROCODONE-HOMATROPINE MBR', 'XARTEMIS XR',
       'PROMETHAZINE VC-CODEINE', 'XODOL 10-300', 'TUSSIONEX',
       'CARISOPRODOL COMPOUND-CODEINE', 'SYNALGOS-DC', 'XYLON 10'],
      dtype=object)

In [36]:
#Setting the years
opioid2015['year'] = 2015
opioid2016['year'] = 2016
opioid2017['year'] = 2017

In [37]:
#Review dataframe
opioid2015.sample(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year
19570769,1710947809,OLSON,LEEANN,MINNEAPOLIS,MN,Nurse Practitioner,S,OXYCODONE HCL,OXYCODONE HCL,21.0,...,579,900.62,NaN,#,34.0,NaN,34.1,475.0,496.12,2015
11745260,1770569238,NAVAS,LUIS,PENSACOLA,FL,Family Practice,S,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN,NaN,...,1200,1919.43,NaN,#,NaN,#,NaN,NaN,NaN,2015
872912,1003890864,BIERNAT,BOZENA,DE PERE,WI,Internal Medicine,S,FENTANYL,FENTANYL,NaN,...,1005,3303.96,NaN,*,23.0,NaN,23.0,690.0,1774.39,2015
21625504,1255592994,BOWDEN,KIRK,PHOENIX,AZ,Interventional Pain Management,S,FENTANYL,FENTANYL,12.0,...,781,2766.00,NaN,*,16.0,NaN,16.0,467.0,1306.46,2015
5274058,1295718096,BRAUER,DAVID,ONTARIO,OR,Family Practice,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,480,1552.93,NaN,*,NaN,*,NaN,NaN,NaN,2015

In [38]:
#Review dataframe
opioid2016.sample(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year
22498814,1194752485,SAVANA,PRASAD,ANNAPOLIS,MD,Internal Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,17.0,...,449,526.62,NaN,#,NaN,#,NaN,NaN,NaN,2016
13507271,1245522796,LE,DAVID,REDWOOD CITY,CA,Orthopedic Surgery,S,TRAMADOL HCL,TRAMADOL HCL,34.0,...,531,534.42,NaN,#,NaN,#,NaN,NaN,NaN,2016
6597005,1609839075,CARROLL,JOSEPH,MCKINLEYVILLE,CA,Family Practice,S,MORPHINE SULFATE ER,MORPHINE SULFATE,11.0,...,2548,5851.30,NaN,*,26.0,NaN,26.0,770.0,2188.48,2016
1369186,1679726772,FREEMAN,ERIC,PROVO,UT,Pain Management,S,FENTANYL,FENTANYL,NaN,...,313,1084.04,NaN,*,NaN,*,NaN,NaN,NaN,2016
6143642,1316032444,FEDERICO-FIELDS,PATRICIA,ROCHESTER,NY,Nurse Practitioner,S,TRAMADOL HCL,TRAMADOL HCL,16.0,...,1694,340.82,NaN,#,45.0,NaN,45.0,1321.0,246.79,2016

In [39]:
#Review dataframe
opioid2017.sample(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year
20207894,1619170826,TRAN,TRAM,PLAINVIEW,NY,Physician Assistant,S,OXYCODONE HCL ER,OXYCODONE HCL,14.0,...,1349,29453.34,NaN,*,15.0,NaN,15.0,401.0,8157.34,2017
3876849,1356330021,SCHULTEN,THAD,LOUISVILLE,KY,Oral Surgery (Dentist only),S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,28.0,...,116,152.11,NaN,#,NaN,#,NaN,NaN,NaN,2017
8777329,1801869359,BOWMAN,ANGELA,MOUNT AIRY,NC,Physician Assistant,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,59.0,...,4300,2951.37,NaN,#,155.0,NaN,155.0,3622.0,2351.32,2017
19974194,1447504741,SHEARON,KARINE,ATLANTA,GA,Nurse Practitioner,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,NaN,...,81,197.92,NaN,*,12.0,NaN,12.0,81.0,197.92,2017
15385795,1770551293,GARRI,RICHARD,GREENVILLE,NC,Emergency Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,11.0,...,49,40.83,NaN,*,NaN,*,NaN,NaN,NaN,2017

In [40]:
#Creating list of state populations
statelist = pd.read_csv('nst-est2018-alldata.csv')
statelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Columns: 137 entries, SUMLEV to RNETMIG2018
dtypes: float64(48), int64(85), object(4)
memory usage: 61.1+ KB

In [41]:
initial_statelist=statelist['INITIAL']
pop15_statelist=statelist['POPESTIMATE2015']
pop16_statelist=statelist['POPESTIMATE2016']
pop17_statelist=statelist['POPESTIMATE2017']

In [42]:
initial_statelist.head(20)

0     USA
1     NER
2     MWR
3      SR
4      WR
5      AL
6      AK
7      AZ
8      AR
9      CA
10     CO
11     CT
12     DE
13     DC
14     FL
15     GA
16     HI
17     ID
18     IL
19     IN
Name: INITIAL, dtype: object

In [43]:
pop15_statelist.head(20)
pop16_statelist.head(20)
pop17_statelist.head(20)

0     325147121
1      56072676
2      68156035
3     123598424
4      77319986
5       4875120
6        739786
7       7048876
8       3002997
9      39399349
10      5615902
11      3573880
12       957078
13       695691
14     20976812
15     10413055
16      1424203
17      1718904
18     12786196
19      6660082
Name: POPESTIMATE2017, dtype: int64

In [44]:
pop15_bystate = pd.concat([initial_statelist, pop15_statelist], axis = 1)
pop15_bystate

   INITIAL  POPESTIMATE2015
0      USA        320742673
1      NER         56047587
2      MWR         67869139
3       SR        121037542
4       WR         75788405
5       AL          4853160
6       AK           737547
7       AZ          6833596
8       AR          2978407
9       CA         38953142
10      CO          5452107
11      CT          3587509
12      DE           941413
13      DC           675254
14      FL         20224249
15      GA         10181111
16      HI          1422484
17      ID          1651523
18      IL         12864342
19      IN          6608296
20      IA          3121460
21      KS          2909502
22      KY          4425999
23      LA          4664851
24      ME          1328484
25      MD          5986717
26      MA          6795891
27      MI          9932573
28      MN          5482503
29      MS          2988693
30      MO          6071745
31      MT          1030503
32      NE          1891507
33      NV          2868666
34      NH          1336294
35      NJ          8870869
36      NM          2090211
37      NY         19661411
38      NC         10033079
39      ND           754022
40      OH         11617850
41      OK          3909831
42      OR          4016918
43      PA         12785759
44      RI          1056173
45      SC          4892253
46      SD           853933
47      TN          6590808
48      TX         27486814
49      UT          2982497
50      VT           625197
51      VA          8362907
52      WA          7163543
53      WV          1841996
54      WI          5761406
55      WY           585668
56      PR          3473166

In [82]:
df_2015 = pd.merge(opioid2015, pop15_bystate, how='inner', left_on = 'nppes_provider_state', right_on = 'INITIAL')

In [83]:
df_2015.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2015
0,1477804466,ROBINSON,LAKEESHA,MILWAUKEE,WI,Nurse Practitioner,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2015,WI,5761406
1,1134198567,GEHRING,RANDY,WAUKESHA,WI,Neurosurgery,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,NaN,...,NaN,*,11.0,NaN,11.0,183.0,140.42,2015,WI,5761406
2,1275640237,WEBER,ERIC,SLINGER,WI,Internal Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,42.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2015,WI,5761406
3,1265407316,URLAKIS,KENNETH,SUSSEX,WI,Family Practice,S,HYDROMORPHONE HCL,HYDROMORPHONE HCL,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2015,WI,5761406
4,1588696256,ANDERSON,JUDITH,APPLETON,WI,Nurse Practitioner,S,TRAMADOL HCL,TRAMADOL HCL,14.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2015,WI,5761406

In [84]:
df_2015.drop(['INITIAL'], axis=1)
df_2015.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2015
0,1477804466,ROBINSON,LAKEESHA,MILWAUKEE,WI,Nurse Practitioner,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2015,WI,5761406
1,1134198567,GEHRING,RANDY,WAUKESHA,WI,Neurosurgery,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,NaN,...,NaN,*,11.0,NaN,11.0,183.0,140.42,2015,WI,5761406
2,1275640237,WEBER,ERIC,SLINGER,WI,Internal Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,42.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2015,WI,5761406
3,1265407316,URLAKIS,KENNETH,SUSSEX,WI,Family Practice,S,HYDROMORPHONE HCL,HYDROMORPHONE HCL,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2015,WI,5761406
4,1588696256,ANDERSON,JUDITH,APPLETON,WI,Nurse Practitioner,S,TRAMADOL HCL,TRAMADOL HCL,14.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2015,WI,5761406

In [49]:
pop16_bystate = pd.concat([initial_statelist, pop16_statelist], axis = 1)
pop16_bystate

   INITIAL  POPESTIMATE2016
0      USA        323071342
1      NER         56058789
2      MWR         67996917
3       SR        122401186
4       WR         76614450
5       AL          4864745
6       AK           741504
7       AZ          6945452
8       AR          2990410
9       CA         39209127
10      CO          5540921
11      CT          3578674
12      DE           949216
13      DC           686575
14      FL         20629982
15      GA         10304763
16      HI          1428105
17      ID          1682930
18      IL         12826895
19      IN          6633344
20      IA          3131785
21      KS          2911263
22      KY          4438229
23      LA          4678215
24      ME          1331370
25      MD          6004692
26      MA          6826022
27      MI          9951890
28      MN          5523409
29      MS          2988298
30      MO          6087203
31      MT          1040863
32      NE          1905924
33      NV          2919772
34      NH          1342373
35      NJ          8874516
36      NM          2092789
37      NY         19641589
38      NC         10156679
39      ND           754353
40      OH         11635003
41      OK          3926769
42      OR          4091404
43      PA         12783538
44      RI          1057063
45      SC          4958235
46      SD           862890
47      TN          6645011
48      TX         27937492
49      UT          3042613
50      VT           623644
51      VA          8410946
52      WA          7294680
53      WV          1830929
54      WI          5772958
55      WY           584290
56      PR          3406495

In [50]:
df_2016 = pd.merge(opioid2016, pop16_bystate, how='inner', left_on = 'nppes_provider_state', right_on = 'INITIAL')

In [51]:
df_2016.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2016
0,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,17.0,...,NaN,#,37.0,NaN,37.0,978.0,437.25,2016,OH,11635003
1,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,FENTANYL,FENTANYL,14.0,...,NaN,*,11.0,NaN,11.1,332.0,809.67,2016,OH,11635003
2,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,62.0,...,35.0,NaN,204.0,NaN,204.5,5559.0,5270.87,2016,OH,11635003
3,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2016,OH,11635003
4,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,OXYCODONE HCL,OXYCODONE HCL,NaN,...,NaN,*,11.0,NaN,11.0,315.0,157.86,2016,OH,11635003

In [52]:
df_2016.drop(['INITIAL'], axis=1)
df_2016.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2016
0,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,17.0,...,NaN,#,37.0,NaN,37.0,978.0,437.25,2016,OH,11635003
1,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,FENTANYL,FENTANYL,14.0,...,NaN,*,11.0,NaN,11.1,332.0,809.67,2016,OH,11635003
2,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,62.0,...,35.0,NaN,204.0,NaN,204.5,5559.0,5270.87,2016,OH,11635003
3,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2016,OH,11635003
4,1003000142,KHALIL,RASHID,TOLEDO,OH,Anesthesiology,S,OXYCODONE HCL,OXYCODONE HCL,NaN,...,NaN,*,11.0,NaN,11.0,315.0,157.86,2016,OH,11635003

In [53]:
pop17_bystate = pd.concat([initial_statelist, pop17_statelist], axis = 1)
pop17_bystate

   INITIAL  POPESTIMATE2017
0      USA        325147121
1      NER         56072676
2      MWR         68156035
3       SR        123598424
4       WR         77319986
5       AL          4875120
6       AK           739786
7       AZ          7048876
8       AR          3002997
9       CA         39399349
10      CO          5615902
11      CT          3573880
12      DE           957078
13      DC           695691
14      FL         20976812
15      GA         10413055
16      HI          1424203
17      ID          1718904
18      IL         12786196
19      IN          6660082
20      IA          3143637
21      KS          2910689
22      KY          4453874
23      LA          4670818
24      ME          1335063
25      MD          6024891
26      MA          6863246
27      MI          9976447
28      MN          5568155
29      MS          2989663
30      MO          6108612
31      MT          1053090
32      NE          1917575
33      NV          2972405
34      NH          1349767
35      NJ          8888543
36      NM          2093395
37      NY         19590719
38      NC         10270800
39      ND           755176
40      OH         11664129
41      OK          3932640
42      OR          4146592
43      PA         12790447
44      RI          1056486
45      SC          5021219
46      SD           873286
47      TN          6708794
48      TX         28322717
49      UT          3103118
50      VT           624525
51      VA          8465207
52      WA          7425432
53      WV          1817048
54      WI          5792051
55      WY           578934
56      PR          3325001

In [54]:
df_2017 = pd.merge(opioid2017, pop17_bystate, how='inner', left_on = 'nppes_provider_state', right_on = 'INITIAL')

In [55]:
df_2017.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2017
0,1477804466,ROBINSON,LAKEESHA,MILWAUKEE,WI,Nurse Practitioner,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2017,WI,5792051
1,1134198567,GEHRING,RANDY,WAUKESHA,WI,Neurosurgery,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,NaN,...,NaN,*,11.0,NaN,11.0,183.0,140.42,2017,WI,5792051
2,1275640237,WEBER,ERIC,SLINGER,WI,Internal Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,42.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2017,WI,5792051
3,1265407316,URLAKIS,KENNETH,SUSSEX,WI,Family Practice,S,HYDROMORPHONE HCL,HYDROMORPHONE HCL,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2017,WI,5792051
4,1588696256,ANDERSON,JUDITH,APPLETON,WI,Nurse Practitioner,S,TRAMADOL HCL,TRAMADOL HCL,14.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2017,WI,5792051

In [56]:
df_2017.drop(['INITIAL'], axis=1)
df_2017.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,INITIAL,POPESTIMATE2017
0,1477804466,ROBINSON,LAKEESHA,MILWAUKEE,WI,Nurse Practitioner,S,MORPHINE SULFATE ER,MORPHINE SULFATE,NaN,...,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2017,WI,5792051
1,1134198567,GEHRING,RANDY,WAUKESHA,WI,Neurosurgery,S,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,NaN,...,NaN,*,11.0,NaN,11.0,183.0,140.42,2017,WI,5792051
2,1275640237,WEBER,ERIC,SLINGER,WI,Internal Medicine,S,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,42.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2017,WI,5792051
3,1265407316,URLAKIS,KENNETH,SUSSEX,WI,Family Practice,S,HYDROMORPHONE HCL,HYDROMORPHONE HCL,NaN,...,NaN,*,NaN,*,NaN,NaN,NaN,2017,WI,5792051
4,1588696256,ANDERSON,JUDITH,APPLETON,WI,Nurse Practitioner,S,TRAMADOL HCL,TRAMADOL HCL,14.0,...,NaN,#,NaN,#,NaN,NaN,NaN,2017,WI,5792051

In [59]:
# saving cleaned dataframe to csv
df_2015.to_csv('medicare_opioids_2015.csv')

In [60]:
# saving cleaned dataframe to csv
df_2016.to_csv('medicare_opioids_2016.csv')

In [61]:
# saving cleaned dataframe to csv
df_2017.to_csv('medicare_opioids_2017.csv')