In [1]:
#import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.base import clone
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer

In [4]:
# read 2016 medicaide drugs
medicaid_drugs = pd.read_csv('State_Drug_Utilization_Data_2016.csv')
print(medicaid_drugs.shape)

(4644856, 20)

In [6]:
# identify the list of columns
medicaid_drugs.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Suppression Used',
       'Units Reimbursed', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [7]:
#view part of the dataset
medicaid_drugs.head()

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,MCOU,XX,50458,925,50,2016,3,LEVAQUIN 5,False,96,12,"2,990.59","2,990.59",0,7/1,07/01/2016,NaN,NaN,NaN,50458092550
1,FFSU,AL,603,6345,2,2016,4,VALSARTAN/,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,32.7990,-86.8073,"(32.799, -86.8073)",603634502
2,FFSU,AL,31722,731,30,2016,4,IRBESARTAN,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,32.7990,-86.8073,"(32.799, -86.8073)",31722073130
3,FFSU,AR,61958,1003,1,2016,3,RANEXA,False,"16,296",278,"93,093.15","92,573.86",519.29,7/1,07/01/2016,34.9513,-92.3809,"(34.9513, -92.3809)",61958100301
4,FFSU,AR,185,129,1,2016,4,BUMETANIDE,False,"2,821",58,"2,032.87","2,011.37",21.5,10/1,10/01/2016,34.9513,-92.3809,"(34.9513, -92.3809)",185012901

In [11]:
#view the product name column
medicaid_drugs['Product Name'].head(15)

0     LEVAQUIN 5
1     VALSARTAN/
2     IRBESARTAN
3         RANEXA
4     BUMETANIDE
5      ADENOSINE
6     LISINOPRIL
7     HALOPERIDO
8     PROMETHAZI
9     OLANZAPINE
10    DIGOXIN TA
11    CETIRIZINE
12     QUINAPRIL
13    PRAZOSIN 5
14    Valacyclov
Name: Product Name, dtype: object

In [20]:
medicaid_drugs['Product Name'].nunique()

14299

In [48]:
#filter for only common opioid drugs
VICOD_drugs = medicaid_drugs.loc[medicaid_drugs['Product Name'].str.contains('VICOD',na=False)]
HYDRO_drugs = medicaid_drugs.loc[medicaid_drugs['Product Name'].str.contains('HYDROM',na=False)]
FENT_drugs = medicaid_drugs.loc[medicaid_drugs['Product Name'].str.contains('FENT',na=False)]
MORPH_drugs = medicaid_drugs.loc[medicaid_drugs['Product Name'].str.contains('MORPH',na=False)]
COD_drugs = medicaid_drugs.loc[medicaid_drugs['Product Name'].str.contains('COD',na=False)]
common_opioid = pd.concat([VICOD_drugs, HYDRO_drugs, FENT_drugs, MORPH_drugs,COD_drugs])

In [49]:
common_opioid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118759 entries, 69868 to 4644851
Data columns (total 20 columns):
Utilization Type                  118759 non-null object
State                             118759 non-null object
Labeler Code                      118759 non-null int64
Product Code                      118759 non-null int64
Package Size                      118759 non-null int64
Year                              118759 non-null int64
Quarter                           118759 non-null int64
Product Name                      118759 non-null object
Suppression Used                  118759 non-null bool
Units Reimbursed                  61934 non-null object
Number of Prescriptions           61934 non-null object
Total Amount Reimbursed           61934 non-null object
Medicaid Amount Reimbursed        61934 non-null object
Non Medicaid Amount Reimbursed    61934 non-null object
Quarter Begin                     118759 non-null object
Quarter Begin Date                118759 non-null object
Latitude                          111419 non-null float64
Longitude                         111419 non-null float64
Location                          111419 non-null object
NDC                               118759 non-null int64
dtypes: bool(1), float64(2), int64(6), object(11)
memory usage: 18.2+ MB

In [50]:
# replace missing values
common_opioid.replace(np.nan, 0)

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
69868,MCOU,XX,74,3041,13,2016,4,VICODIN 5-,False,"18,042",627,"22,672.1","22,447.05",225.05,10/1,10/01/2016,0.0000,0.0000,0,74304113
86430,MCOU,XX,74,3041,53,2016,4,VICODIN 5-,False,"52,557","1,884","62,504.17","60,440.24","2,063.93",10/1,10/01/2016,0.0000,0.0000,0,74304153
128205,MCOU,TX,74,3054,53,2016,4,VICODIN HP,False,"8,312",74,"14,096.13","14,096.13",0,10/1,10/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",74305453
129435,MCOU,XX,74,3054,53,2016,4,VICODIN TA,False,"22,896",256,"42,037.61","41,075.55",962.06,10/1,10/01/2016,0.0000,0.0000,0,74305453
150393,MCOU,TX,74,3041,53,2016,4,VICODIN 5-,False,"6,633",232,"7,240.72","7,240.72",0,10/1,10/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",74304153
173226,MCOU,NJ,74,3041,13,2016,4,VICODIN TA,False,"1,695",66,"2,587.42","2,515.97",71.45,10/1,10/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
176172,MCOU,XX,74,3043,13,2016,4,VICODIN TA,False,"16,870",326,"23,289.94","22,780.51",509.43,10/1,10/01/2016,0.0000,0.0000,0,74304313
179458,MCOU,XX,74,3041,53,2016,1,VICODIN 5-,False,"95,636","3,415","133,530.11","132,420.7","1,109.41",1/1,01/01/2016,0.0000,0.0000,0,74304153
182990,FFSU,NY,74,3043,53,2016,3,VICODIN ES,True,0,0,0,0,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304353
187301,FFSU,XX,74,3041,53,2016,3,VICODIN 5-,False,"44,692","1,953","72,038.66","71,611.82",426.84,7/1,07/01/2016,0.0000,0.0000,0,74304153
187547,FFSU,CA,74,3041,53,2016,3,VICODIN TA,False,"1,845",64,"2,924.67","2,924.67",0,7/1,07/01/2016,33.7712,-111.3877,"(33.7712, -111.3877)",74304153
188187,FFSU,NY,74,3043,53,2016,4,VICODIN ES,True,0,0,0,0,0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304353
189836,FFSU,XX,74,3041,13,2016,3,VICODIN 5-,False,"5,878",181,"8,390.78","8,204.91",185.87,7/1,07/01/2016,0.0000,0.0000,0,74304113
190206,MCOU,XX,74,3054,53,2016,3,VICODIN TA,False,"22,521",250,"43,356.74","42,937.11",419.63,7/1,07/01/2016,0.0000,0.0000,0,74305453
198698,MCOU,NY,74,3043,13,2016,3,VICODIN ES,False,"1,130",20,"1,690.31","1,690.31",0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
201115,MCOU,XX,74,3054,13,2016,4,VICODIN TA,False,"10,380",125,"17,813.33","17,806.33",7,10/1,10/01/2016,0.0000,0.0000,0,74305413
203035,FFSU,NY,74,3043,13,2016,3,VICODIN ES,True,0,0,0,0,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
206620,MCOU,XX,74,3041,13,2016,2,VICODIN 5-,False,"22,998",778,"30,596.37","30,438.67",157.7,4/1,04/01/2016,0.0000,0.0000,0,74304113
207528,FFSU,NY,74,3041,13,2016,4,VICODIN,True,0,0,0,0,0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
209754,MCOU,NY,74,3041,53,2016,4,VICODIN,False,"2,605",75,"3,063.61","3,063.61",0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304153
213633,MCOU,NY,74,3043,13,2016,4,VICODIN ES,False,"1,366",23,"1,583.15","1,583.15",0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
218600,MCOU,NJ,74,3041,13,2016,2,VICODIN TA,False,"1,876",90,"2,476.31","2,424.35",51.96,4/1,04/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
219310,MCOU,SC,74,3041,53,2016,3,VICODIN,True,0,0,0,0,0,7/1,07/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",74304153
223091,FFSU,NY,74,3041,53,2016,3,VICODIN,True,0,0,0,0,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304153
229495,FFSU,XX,74,3041,13,2016,4,VICODIN 5-,False,"3,690",147,"5,528.35","5,481.71",46.64,10/1,10/01/2016,0.0000,0.0000,0,74304113
229791,FFSU,NY,74,3041,13,2016,3,VICODIN,False,710,19,664.01,664.01,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
233075,MCOU,NJ,74,3041,13,2016,1,VICODIN TA,False,"2,355",138,"3,074.69","3,071.1",3.59,1/1,01/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
238931,MCOU,NY,74,3041,13,2016,4,VICODIN,False,"1,302",39,"1,516.3","1,501.81",14.49,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
240791,MCOU,FL,74,3041,53,2016,3,VICODIN,False,"7,689",319,"9,599.04","9,599.04",0,7/1,07/01/2016,39.3498,-75.5148,"(39.3498, -75.5148)",74304153
241686,FFSU,XX,74,3041,53,2016,4,VICODIN 5-,False,"35,461","1,503","55,935.32","55,552.33",382.99,10/1,10/01/2016,0.0000,0.0000,0,74304153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642433,FFSU,SD,51079,777,1,2016,1,HYDROCODON,True,0,0,0,0,0,1/1,01/01/2016,18.2766,-66.3350,"(18.2766, -66.335)",51079077701
4642671,FFSU,CA,64376,649,1,2016,1,HYDROCODON,False,"4,292",53,"6,082.35","5,941.96",140.39,1/1,01/01/2016,33.7712,-111.3877,"(33.7712, -111.3877)",64376064901
4642680,MCOU,VA,51862,227,5,2016,4,HYDROCODON,True,0,0,0,0,0,10/1,10/01/2016,35.7449,-86.7489,"(35.7449, -86.7489)",51862022705
4642798,MCOU,NE,68084,884,9,2016,2,HYDROCOD/A,True,0,0,0,0,0,4/1,04/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",68084088409
4642894,MCOU,GA,406,523,62,2016,3,OXYCODONE,True,0,0,0,0,0,7/1,07/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",406052362
4642976,FFSU,NE,603,2339,28,2016,2,APAP/CODEI,True,0,0,0,0,0,4/1,04/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",603233928
4643170,FFSU,NE,13107,21,5,2016,1,HYDROCODON,False,"1,582",16,422.66,422.66,0,1/1,01/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",13107002105
4643220,FFSU,IA,603,4979,21,2016,4,OXYCODONE/,True,0,0,0,0,0,10/1,10/01/2016,21.1098,-157.5311,"(21.1098, -157.5311)",603497921
4643225,MCOU,CO,74,3041,13,2016,2,VICODIN,False,691,30,935.67,935.67,0,4/1,04/01/2016,36.1700,-119.7462,"(36.17, -119.7462)",74304113
4643291,FFSU,MT,228,2879,11,2016,4,OXYCODONE,False,"5,072",39,"2,822.49","2,822.49",0,10/1,10/01/2016,14.8058,145.5505,"(14.8058, 145.5505)",228287911
4643354,MCOU,SC,47781,264,1,2016,2,OXYCODONE,False,"2,580",20,806.55,806.55,0,4/1,04/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",47781026401
4643433,MCOU,OR,93,5734,1,2016,1,OXYCODONE,True,0,0,0,0,0,1/1,01/01/2016,40.3736,-82.7755,"(40.3736, -82.7755)",93573401
4643519,FFSU,SC,47781,263,5,2016,1,OXYCODONE,True,0,0,0,0,0,1/1,01/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",47781026305
4643578,MCOU,NY,536,1355,12,2016,3,BISACODYL,False,"1,422",67,179.97,179.97,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",536135512
4643629,MCOU,UT,406,484,10,2016,2,CODEINE PH,False,"1,298",38,393.57,393.57,0,4/1,04/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",406048410
4643718,MCOU,SC,13107,56,1,2016,1,OXYCODONE,True,0,0,0,0,0,1/1,01/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",13107005601
4643737,MCOU,GA,64720,224,10,2016,2,OXYCODONE,True,0,0,0,0,0,4/1,04/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",64720022410
4643782,MCOU,NM,64376,649,1,2016,3,HYDROCODON,True,0,0,0,0,0,7/1,07/01/2016,43.4108,-71.5653,"(43.4108, -71.5653)",64376064901
4643986,FFSU,CT,904,6437,61,2016,3,OXYCODONE,True,0,0,0,0,0,7/1,07/01/2016,39.0646,-105.3272,"(39.0646, -105.3272)",904643761
4644102,MCOU,UT,65162,48,10,2016,4,OXYCODONE,False,"3,134",32,732.82,713.95,18.87,10/1,10/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",65162004810
4644202,MCOU,OH,406,8515,1,2016,2,OXYCODONE,False,"28,091.5",266,"8,310.84","8,174.31",136.53,4/1,04/01/2016,38.4199,-117.1219,"(38.4199, -117.1219)",406851501
4644254,FFSU,UT,65162,207,50,2016,3,OXYCODONE,False,"2,199",32,"1,528.59","1,528.59",0,7/1,07/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",65162020750
4644318,FFSU,PA,57664,170,88,2016,2,HYDROCODON,True,0,0,0,0,0,4/1,04/01/2016,35.5376,-96.9247,"(35.5376, -96.9247)",57664017088
4644337,MCOU,UT,406,523,1,2016,4,OXYCODONE,False,"11,211",126,"8,597.91","8,597.91",0,10/1,10/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",406052301
4644383,FFSU,ID,64376,640,40,2016,1,HYDROCODON,False,"2,572",13,540.88,533.88,7,1/1,01/01/2016,42.0046,-93.2140,"(42.0046, -93.214)",64376064040
4644464,FFSU,VT,64376,640,40,2016,1,HYDROCODON,True,0,0,0,0,0,1/1,01/01/2016,31.1060,-97.6475,"(31.106, -97.6475)",64376064040
4644626,FFSU,GA,406,125,10,2016,4,HYDROCODON,True,0,0,0,0,0,10/1,10/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",406012510
4644676,FFSU,IN,93,5731,1,2016,2,OXYCODONE,False,277,16,742.5,736.5,6,4/1,04/01/2016,40.3363,-89.0022,"(40.3363, -89.0022)",93573101
4644836,FFSU,DC,591,2605,5,2016,3,HYDROCODON,True,0,0,0,0,0,7/1,07/01/2016,41.5834,-72.7622,"(41.5834, -72.7622)",591260505
4644851,MCOU,TX,904,6419,61,2016,3,HYDROCODON,True,0,0,0,0,0,7/1,07/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",904641961

In [51]:
#drop repeated rows
common_opioid.drop_duplicates()

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
69868,MCOU,XX,74,3041,13,2016,4,VICODIN 5-,False,"18,042",627,"22,672.1","22,447.05",225.05,10/1,10/01/2016,NaN,NaN,NaN,74304113
86430,MCOU,XX,74,3041,53,2016,4,VICODIN 5-,False,"52,557","1,884","62,504.17","60,440.24","2,063.93",10/1,10/01/2016,NaN,NaN,NaN,74304153
128205,MCOU,TX,74,3054,53,2016,4,VICODIN HP,False,"8,312",74,"14,096.13","14,096.13",0,10/1,10/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",74305453
129435,MCOU,XX,74,3054,53,2016,4,VICODIN TA,False,"22,896",256,"42,037.61","41,075.55",962.06,10/1,10/01/2016,NaN,NaN,NaN,74305453
150393,MCOU,TX,74,3041,53,2016,4,VICODIN 5-,False,"6,633",232,"7,240.72","7,240.72",0,10/1,10/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",74304153
173226,MCOU,NJ,74,3041,13,2016,4,VICODIN TA,False,"1,695",66,"2,587.42","2,515.97",71.45,10/1,10/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
176172,MCOU,XX,74,3043,13,2016,4,VICODIN TA,False,"16,870",326,"23,289.94","22,780.51",509.43,10/1,10/01/2016,NaN,NaN,NaN,74304313
179458,MCOU,XX,74,3041,53,2016,1,VICODIN 5-,False,"95,636","3,415","133,530.11","132,420.7","1,109.41",1/1,01/01/2016,NaN,NaN,NaN,74304153
182990,FFSU,NY,74,3043,53,2016,3,VICODIN ES,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304353
187301,FFSU,XX,74,3041,53,2016,3,VICODIN 5-,False,"44,692","1,953","72,038.66","71,611.82",426.84,7/1,07/01/2016,NaN,NaN,NaN,74304153
187547,FFSU,CA,74,3041,53,2016,3,VICODIN TA,False,"1,845",64,"2,924.67","2,924.67",0,7/1,07/01/2016,33.7712,-111.3877,"(33.7712, -111.3877)",74304153
188187,FFSU,NY,74,3043,53,2016,4,VICODIN ES,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304353
189836,FFSU,XX,74,3041,13,2016,3,VICODIN 5-,False,"5,878",181,"8,390.78","8,204.91",185.87,7/1,07/01/2016,NaN,NaN,NaN,74304113
190206,MCOU,XX,74,3054,53,2016,3,VICODIN TA,False,"22,521",250,"43,356.74","42,937.11",419.63,7/1,07/01/2016,NaN,NaN,NaN,74305453
198698,MCOU,NY,74,3043,13,2016,3,VICODIN ES,False,"1,130",20,"1,690.31","1,690.31",0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
201115,MCOU,XX,74,3054,13,2016,4,VICODIN TA,False,"10,380",125,"17,813.33","17,806.33",7,10/1,10/01/2016,NaN,NaN,NaN,74305413
203035,FFSU,NY,74,3043,13,2016,3,VICODIN ES,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
206620,MCOU,XX,74,3041,13,2016,2,VICODIN 5-,False,"22,998",778,"30,596.37","30,438.67",157.7,4/1,04/01/2016,NaN,NaN,NaN,74304113
207528,FFSU,NY,74,3041,13,2016,4,VICODIN,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
209754,MCOU,NY,74,3041,53,2016,4,VICODIN,False,"2,605",75,"3,063.61","3,063.61",0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304153
213633,MCOU,NY,74,3043,13,2016,4,VICODIN ES,False,"1,366",23,"1,583.15","1,583.15",0,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304313
218600,MCOU,NJ,74,3041,13,2016,2,VICODIN TA,False,"1,876",90,"2,476.31","2,424.35",51.96,4/1,04/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
219310,MCOU,SC,74,3041,53,2016,3,VICODIN,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",74304153
223091,FFSU,NY,74,3041,53,2016,3,VICODIN,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304153
229495,FFSU,XX,74,3041,13,2016,4,VICODIN 5-,False,"3,690",147,"5,528.35","5,481.71",46.64,10/1,10/01/2016,NaN,NaN,NaN,74304113
229791,FFSU,NY,74,3041,13,2016,3,VICODIN,False,710,19,664.01,664.01,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
233075,MCOU,NJ,74,3041,13,2016,1,VICODIN TA,False,"2,355",138,"3,074.69","3,071.1",3.59,1/1,01/01/2016,41.1289,-98.2883,"(41.1289, -98.2883)",74304113
238931,MCOU,NY,74,3041,13,2016,4,VICODIN,False,"1,302",39,"1,516.3","1,501.81",14.49,10/1,10/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",74304113
240791,MCOU,FL,74,3041,53,2016,3,VICODIN,False,"7,689",319,"9,599.04","9,599.04",0,7/1,07/01/2016,39.3498,-75.5148,"(39.3498, -75.5148)",74304153
241686,FFSU,XX,74,3041,53,2016,4,VICODIN 5-,False,"35,461","1,503","55,935.32","55,552.33",382.99,10/1,10/01/2016,NaN,NaN,NaN,74304153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642353,MCOU,HI,53746,145,1,2016,3,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,32.9866,-83.6487,"(32.9866, -83.6487)",53746014501
4642433,FFSU,SD,51079,777,1,2016,1,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2016,18.2766,-66.3350,"(18.2766, -66.335)",51079077701
4642671,FFSU,CA,64376,649,1,2016,1,HYDROCODON,False,"4,292",53,"6,082.35","5,941.96",140.39,1/1,01/01/2016,33.7712,-111.3877,"(33.7712, -111.3877)",64376064901
4642680,MCOU,VA,51862,227,5,2016,4,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,35.7449,-86.7489,"(35.7449, -86.7489)",51862022705
4642798,MCOU,NE,68084,884,9,2016,2,HYDROCOD/A,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",68084088409
4642894,MCOU,GA,406,523,62,2016,3,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",406052362
4642976,FFSU,NE,603,2339,28,2016,2,APAP/CODEI,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",603233928
4643170,FFSU,NE,13107,21,5,2016,1,HYDROCODON,False,"1,582",16,422.66,422.66,0,1/1,01/01/2016,35.6411,-79.8431,"(35.6411, -79.8431)",13107002105
4643220,FFSU,IA,603,4979,21,2016,4,OXYCODONE/,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,21.1098,-157.5311,"(21.1098, -157.5311)",603497921
4643291,FFSU,MT,228,2879,11,2016,4,OXYCODONE,False,"5,072",39,"2,822.49","2,822.49",0,10/1,10/01/2016,14.8058,145.5505,"(14.8058, 145.5505)",228287911
4643354,MCOU,SC,47781,264,1,2016,2,OXYCODONE,False,"2,580",20,806.55,806.55,0,4/1,04/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",47781026401
4643433,MCOU,OR,93,5734,1,2016,1,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2016,40.3736,-82.7755,"(40.3736, -82.7755)",93573401
4643519,FFSU,SC,47781,263,5,2016,1,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",47781026305
4643578,MCOU,NY,536,1355,12,2016,3,BISACODYL,False,"1,422",67,179.97,179.97,0,7/1,07/01/2016,34.8375,-106.2371,"(34.8375, -106.2371)",536135512
4643629,MCOU,UT,406,484,10,2016,2,CODEINE PH,False,"1,298",38,393.57,393.57,0,4/1,04/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",406048410
4643718,MCOU,SC,13107,56,1,2016,1,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2016,40.5773,-77.2640,"(40.5773, -77.264)",13107005601
4643737,MCOU,GA,64720,224,10,2016,2,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",64720022410
4643782,MCOU,NM,64376,649,1,2016,3,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,43.4108,-71.5653,"(43.4108, -71.5653)",64376064901
4643986,FFSU,CT,904,6437,61,2016,3,OXYCODONE,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,39.0646,-105.3272,"(39.0646, -105.3272)",904643761
4644102,MCOU,UT,65162,48,10,2016,4,OXYCODONE,False,"3,134",32,732.82,713.95,18.87,10/1,10/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",65162004810
4644202,MCOU,OH,406,8515,1,2016,2,OXYCODONE,False,"28,091.5",266,"8,310.84","8,174.31",136.53,4/1,04/01/2016,38.4199,-117.1219,"(38.4199, -117.1219)",406851501
4644254,FFSU,UT,65162,207,50,2016,3,OXYCODONE,False,"2,199",32,"1,528.59","1,528.59",0,7/1,07/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",65162020750
4644318,FFSU,PA,57664,170,88,2016,2,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2016,35.5376,-96.9247,"(35.5376, -96.9247)",57664017088
4644337,MCOU,UT,406,523,1,2016,4,OXYCODONE,False,"11,211",126,"8,597.91","8,597.91",0,10/1,10/01/2016,44.2853,-99.4632,"(44.2853, -99.4632)",406052301
4644383,FFSU,ID,64376,640,40,2016,1,HYDROCODON,False,"2,572",13,540.88,533.88,7,1/1,01/01/2016,42.0046,-93.2140,"(42.0046, -93.214)",64376064040
4644464,FFSU,VT,64376,640,40,2016,1,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2016,31.1060,-97.6475,"(31.106, -97.6475)",64376064040
4644626,FFSU,GA,406,125,10,2016,4,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2016,27.8333,-81.7170,"(27.8333, -81.717)",406012510
4644676,FFSU,IN,93,5731,1,2016,2,OXYCODONE,False,277,16,742.5,736.5,6,4/1,04/01/2016,40.3363,-89.0022,"(40.3363, -89.0022)",93573101
4644836,FFSU,DC,591,2605,5,2016,3,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,41.5834,-72.7622,"(41.5834, -72.7622)",591260505
4644851,MCOU,TX,904,6419,61,2016,3,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,7/1,07/01/2016,33.8191,-80.9066,"(33.8191, -80.9066)",904641961

In [53]:
common_opioid.shape

(118759, 20)

In [79]:
common_opioid.dtypes

Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Suppression Used                     bool
Units Reimbursed                   object
Number of Prescriptions            object
Total Amount Reimbursed            object
Medicaid Amount Reimbursed         object
Non Medicaid Amount Reimbursed     object
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

In [ ]:
common_opioid['Number of Prescriptions'].astype(int)

In [ ]:
common_opioid.groupby(['State'])['Number of Prescriptions'].sum()

In [ ]:
#analyzing by state

sm_common_opioid = common_opioid.groupby('State')['Number of Prescriptions'].sum()
sm_common_opioid = pd.DataFrame(data=sm_common_opioid).reset_index()

sm_common_opioid.head()

In [86]:
#need to join table with the opioid drugs table
ndc = pd.read_excel('HEDIS-2019-NDC-MLD-Directory-Complete-Workbook-FINAL-11-1-2018-2.xlsx',
                         'Medications List to NDC Codes')

In [87]:
# creating a df with only opioids and we capture all opioids by seeng where MED (Morphine Equivalent Dose) is not nan
opioiddf_medicaid = ndc[ndc['MED Conversion Factor'].notnull()].copy()
opioiddf_medicaid['Drug Name'] = opioiddf_medicaid['Drug Name'].str.upper()
opioiddf_medicaid.head()

,Medication List,NDC Code,Brand Name,Generic Product Name,Route,Description,Drug ID,Drug Name,Package Size,Unit,Dose,Form,MED Conversion Factor,Unnamed: 13,Unnamed: 14
63818,UOD Opioid Medications,54309036,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,1.0,NaN,7.00,NaN,NaN
63819,UOD Opioid Medications,378963943,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63820,UOD Opioid Medications,54569598800,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63821,UOD Opioid Medications,60505081301,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,BUTORPHANOL,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63822,UOD Opioid Medications,591264101,APAP/Butalbital/Caffeine/Codeine,acetaminophen/butalbital/caffeine/codeine 300 ...,oral,UOD Opioid Medications,d03425,CODEINE,NaN,mg,30.0,NaN,0.15,NaN,NaN

In [88]:
# make the opioid drug column into a list
opioidlist_medicaid = opioiddf_medicaid['Drug Name'].unique().tolist()

In [89]:
#join the list of strings
opioidlist_medicaid = '|'.join(opioidlist_medicaid)

In [92]:
opioidlist_medicaid = medicaid_drugs[medicaid_drugs['Product Name'].str.contains(opioidlist_medicaid, na=False)]